[user]
	name = Andres Vargas
	email = avargasp87@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFSB94sfW1YFM093USLJFOS9PLJhZN2KSMfyGbPg3kQd
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	default = simple
[core]
	editor = nano
	pager = delta
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "linux" }}
	program = /opt/1Password/op-ssh-sign
{{- end }}
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
[commit]
	gpgsign = true
[delta]
	navigate = true
	line-numbers = true
    features = catppuccin-mocha
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[include]
    path = ~/.config/git/catppuccin.gitconfig