Host *
{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else if eq .chezmoi.os "linux" }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}

Host github.com
    HostName ssh.github.com
    User git
    Port 443
    PreferredAuthentications publickey

### Homelab
Host eva01-servarr
    HostName 192.168.8.11
    User root
    PreferredAuthentications publickey
